<a href="https://colab.research.google.com/github/psalinas505/python-diabetes/blob/URLdatasetcorrected/Python_Diabetes_PS_NN_BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ITExperience Final ML Python Project

## Project Description

**Python Final Project**

Teammates: Pablo Salinas, Nathalie Nieto, and Brittany Brittany


My Python Project is on Diabetes. 

The dataset is from the National Institute of Diabetes and Digestive and Kidney Diseases. 

Content:
The datasets consists of several medical predictor variables and one target variable; the Outcome. 

Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, etc.

Variables:
Pregnancies,
Glucose,
BloodPressure,
SkinThickness,
Insulin,
BMI,
DiabetesPedigreeFunction,
Age,
and Outcome

**References:**

Towards Data Science: ML Workflow
https://towardsdatascience.com/machine-learning-workflow-on-diabetes-data-part-01-573864fcc6b8


Towards Data Science: Prima Indian Diabetes Prediction
https://towardsdatascience.com/pima-indian-diabetes-prediction-7573698bd5fe


BMC Medical Informatics and Decision Making
https://bmcmedinformdecismak.biomedcentral.com/articles/10.1186/s12911-019-0918-5


Kaggle: Prima Indians Diabetes Database
https://www.kaggle.com/uciml/pima-indians-diabetes-database


GitHub: ML with Python
https://github.com/LahiruTjay/Machine-Learning-With-Python/blob/master/datasets/diabetes.csv

## Libraries and Dataset

In [1]:
# Import Libraries and Dataset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#import seaborn as sns   ???

In [2]:
# Bring in my dataset

diabetes = pd.read_csv('https://raw.githubusercontent.com/psalinas505/python-diabetes/main/diabetes.csv')

In [3]:
# And examine the dataset 

diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# Find the dimensions of the data set using the panda Dataframes: ‘shape’ attribute

## Visualizations

In [ ]:
# Visualization of data

In [ ]:
# Data Cleaning

In [ ]:
# Feature Engineering

## Model Selection

In [ ]:
# Model Selection